src/jaxb/a/a_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.foolstech.com/a1" xmlns:a1="http://www.foolstech.com/a1">

    <xs:element name="Adresa">
        <xs:complexType>
            <xs:all>
                <xs:element name="Grad">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Ulica">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Postanski_broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{5,6}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" name="TPuno_ime">
        <xs:sequence>
            <xs:element name="Ime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Prezime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="true" name="TPodnosilac">
        <xs:sequence>
            <xs:element name="Telefon">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:totalDigits value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern
                            value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                        <xs:whiteSpace value="preserve"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TPodnosilac_fizicko_lice">
        <xs:complexContent>
            <xs:extension base="a1:TPodnosilac">
                <xs:sequence>
                    <xs:element name="Fizicko_lice">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="a1:TPuno_ime">
                                    <xs:sequence>
                                        <xs:element name="Drzavljanstvo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element ref="a1:Adresa"/>
                                    </xs:sequence>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TPodnosilac_pravno_lice">
        <xs:complexContent>
            <xs:extension base="a1:TPodnosilac">
                <xs:sequence>
                    <xs:element name="Poslovno_ime"/>
                    <xs:element ref="a1:Adresa"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TAutor">
        <xs:complexContent>
            <xs:extension base="a1:TPuno_ime">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Godina_smrti" type="xs:positiveInteger"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Zahtev_za_unosenje_u_evidenciju_i_deponovanje_autorskih_dela">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Podnosilac" type="a1:TPodnosilac"/>
                <xs:element minOccurs="0" name="Pseudonim_autora" type="xs:string"/>
                <xs:element minOccurs="0" name="Punomocnik">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="a1:TPuno_ime">
                                <xs:sequence>
                                    <xs:element ref="a1:Adresa"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Naslov">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="200"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Podaci_o_delu_na_kome_se_zasnova_autorsko_delo" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Naslov_autorskog_dela">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="200"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Autor" type="a1:TAutor"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Vrsta_autorskog_dela">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="1" name="Forma_zapisa_autorskog_dela">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="Podaci_o_autoru">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="Autor">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="a1:TAutor">
                                            <xs:sequence>
                                                <xs:element name="Drzavljanstvo" minOccurs="0">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="100"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element default="false" name="Anoniman_autor" type="xs:boolean"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element default="false" name="Autorsko_delo_je_stvoreno_u_radnom_odnosu"
                    type="xs:boolean"/>
                <xs:element minOccurs="0" name="Nacin_koriscenja_autorskog_dela">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="200"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Autorsko_delo">
                    <xs:complexType>
                        <xs:attribute name="file" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="broj_prijave" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(A-)[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute form="unqualified" name="datum_podnosenja" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
